
<div class="po-row cards">
  <po-widget 
    class="po-md-2 po-lg-3"
    p-title="Entrada">
    <div class="po-font-subtitle po-text-center" ></div>
    <div class="po-text-center">Meal</div>
  </po-widget>

  <po-widget 
    class="po-md-2 po-lg-3"
    p-title="Most used payment type">
    
    <div class="po-font-subtitle po-text-center">Credit card</div>
    <div class="po-text-center">MasterCard - 5500 0000 0000 0004</div>
  </po-widget>

  <po-widget 
    class="po-md-2 po-lg-3"
    p-title="Higher revenue in month">
    <div class="po-font-subtitle po-text-center">$2.000,00</div>
    <div class="po-text-center">05/03/2018</div>
  </po-widget>
</div>